@if(product){
<div class="row p-4">
    <div class="col-12 col-md-5  offset-lg-1">
        <img src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" alt="Card" class="img-fluid" />
    </div>
    <div class="col">
        <h2>{{ product.name }}</h2>
        <br />
        <p>{{ product.description }}</p>
        <br />
        <h5><b>{{ product.price | currencyFormat }}</b></h5>
        <div class="row">
            <div class="col">
                <a class="btn btn-primary" [routerLink]="'/products/'+ productId + '/edit'" >Edit Product</a>
            </div>
        </div>
    </div>
</div>
}