<footer class="p-4">
    <p class="row d-flex justify-content-center">&copy; 2024 Saugat Adhikari. All rights reserved.</p>
    <ul class="row footer-links m-0">
        <li class="d-flex justify-content-center"><a class="text-decoration-none" href="#">Privacy Policy</a></li>
        <li class="d-flex justify-content-center"><a class="text-decoration-none" href="#">Terms of Service</a></li>
        <li class="d-flex justify-content-center"><a class="text-decoration-none" href="#">Contact Us</a></li>
    </ul>
</footer>